/*Custom CSS*/

.container, .row {
	border: 1px solid black;
}

.container {
	width: 960px;
}

header {
	background: gray;
}

.span6 {

}

#sidebar {
	width: 200px;
	background: black;
}


.aboutpage .btn-success {
	background: rgb(75, 75, 75);
}

.aboutpage {
	background: #fff;
	padding: 2%;
}