/* green */
html, body {
  width: 100%;
  max-width: 100%;
}

iframe {
  background: black;
}

body {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/95495/20120729_yellowstonepark_109.jpg") no-repeat center center fixed #000000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*background: $gray;
  border: $highlight 10px solid;
  */
  font-family: helvetica, arial, sans-serif;
  font-size: 16px;
  color: #dddddd;
}

a {
  color: #dddddd;
  text-decoration: none;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -ms-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  transition: 0.3s ease all;
}
a:hover {
  color: #00ffeb;
}

/* responsive vid */
.videocontainer {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}
.videocontainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* spacing & grid */
#rapper {
  padding: 0;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

/*.module {
    width: 100%;
    max-width: 100%;  
    text-align: center;
}*/
.container {
  width: 85%;
  max-width: 1280px;
  margin: 0 auto;
}

/* type */
h1 {
  font-weight: 400;
  background: black;
  color: white;
  display: inline-block;
  font-size: 1.3em;
}

/* content   */
header {
  background: rgba(0, 0, 0, 0.5);
}
header.module {
  padding: 10% 0 15% 0;
}
header h1 {
  margin: 0 0 3em 0;
  background: none;
}
header .more {
  margin: 3em auto 0 auto;
  width: 15%;
}
header .more img {
  width: 30%;
}

#work {
  background: rgba(0, 0, 0, 0.8);
  padding: 10% 0;
}
#work .worklist {
  margin-bottom: 3em;
}

footer {
  background: black;
  padding: 2% 0 5% 0;
  font-size: 90%;
}
footer p {
  display: inline-block;
  margin: 0.5em 1em;
}
footer p a:hover {
  background: #00ffeb;
  color: black;
}

::selection {
  background: #00ffeb;
  color: white;
}

::-moz-selection {
  background: #00ffeb;
  color: white;
}
