/* */
html, body {
  width: 100%;
  overflow-x: hidden; }

body {
  background: url("../img/bg-school-tile.png") repeat black;
  padding: 0;
  margin: 0;
  font-family: 'oswald', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: white; }

::-moz-selection {
  background: #ff80e0;
  text-shadow: none; }

::selection {
  background: #ff80e0;
  text-shadow: none; }

audio,
canvas,
img,
video {
  vertical-align: middle; }

iframe {
  border: none; }

.wrapper {
  background: black;
  border: 20px solid #adff00;
  border-bottom: 20px solid #ff80e0;
  border-top: 20px solid #ff80e0; }

img {
  max-width: 100%; }

a {
  text-decoration: none;
  color: #cccccc; }
  a:hover {
    color: #adff00; }

.highlight {
  color: #ff80e0 !important; }

div {
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease; }

.container {
  width: 100%;
  display: block; }

h1, h2, h3 {
  font-weight: 300;
  margin: 0; }

header {
  display: block;
  letter-spacing: 0.3em;
  color: #adff00; }
  header a {
    color: white; }
  header h1 {
    font-size: 3em; }
  header .icons {
    font-size: 2em; }
  .page header {
    font-size: 50%;
    background: #17171a; }

section div {
  color: #adff00; }
  section div span {
    color: #ff80e0; }
section div > div + div {
  font-size: 2em;
  line-height: 1.53846em; }
@media screen and (max-width: 1500px) {
  section {
    font-size: 80%; } }
@media screen and (max-width: 540px) {
  section {
    font-size: 45%; } }

header {
  width: 100%;
  margin: 3.33333% 0;
  text-align: center; }
  .page header {
    margin: 0;
    padding: 2% 0; }

section {
  display: inline-block;
  width: 100%; }
  section:last-child {
    margin-bottom: 5%; }
  section div img {
    min-width: 100%; }
  section a > div {
    width: 25%;
    position: relative;
    float: left;
    overflow: hidden; }
  section a:last-child > div {
    margin-right: 0; }
  section > div > div {
    position: relative; }
  section div > div + div {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5); }
  section div:hover > div + div {
    opacity: 0; }
  section div .info {
    padding: 10px; }
  section a > div {
    width: 50%; }

@media screen and (max-width: 1200px) {
  section a > div {
    width: 50%; } }
@media screen and (max-width: 790) {
  section a > div {
    width: 100%; }

  section div .info {
    padding: 25px 15px;
    width: 95%; } }
/* article */
div.post {
  width: 90%;
  margin: 25px auto;
  text-align: center;
  letter-spacing: 0.1em; }
  @media screen and (min-width: 1280px) {
    div.post {
      width: 1280px; } }
  @media screen and (max-width: 960px) {
    div.post {
      width: 100%; } }

.post hr {
  border-width: 0px;
  margin-bottom: 50px; }

.description {
  width: 50%;
  margin: 25px auto; }
  .description h1 {
    margin-bottom: 0px; }
  .description h2 {
    margin-top: 0; }
  .description p {
    font-weight: 300;
    text-align: left;
    text-transform: none; }
    @media screen and (max-width: 540px) {
      .description p {
        font-size: 150%; } }
  .description hr {
    margin: 0; }
  @media screen and (max-width: 960px) {
    .description {
      width: 90%; } }

.center p {
  text-align: center; }

.video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0; }
  .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

div.photos img {
  margin-bottom: 2%; }

#more {
  margin-top: 50px;
  padding: 10px 0;
  text-align: center;
  background: #17171a;
  -webkit-box-shadow: 0px -5px -5px #17171a;
  -moz-box-shadow: 0px -5px -5px #17171a;
  -ms-box-shadow: 0px -5px -5px #17171a;
  -o-box-shadow: 0px -5px -5px #17171a;
  box-shadow: 0px -5px -5px #17171a; }

#grid {
  margin-top: 25px;
  text-align: left; }

#topcontrol {
  bottom: 15px !important;
  left: 15px !important;
  right: 0 !important;
  width: 45px !important;
  z-index: 100000; }

.leftcol, .rightcol {
  width: 48%;
  display: inline-block; }

.leftcol {
  margin-right: 2%; }
