
body {
    color: black;
    font-family: 'oswald', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    background-color: rgb(219, 219, 219);
    background: url("../img/bg-school-tile.png") repeat;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

    a:hover {
        color: rgb(0, 255, 224);
    }


h1, h2, h3 {
    font-weight: 300;
}

.highlight {
    color: rgb(255, 128, 224) !important;
}


.container {
    width: 100%;
    display: block;
    float: left;
}

div {
    -moz-transition: .3s all ease;
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
}


/* header styles */

header {
    display: block;
    font-size: 1em;
}

header h1 {
    width: 24%;
    float: left;
    text-align: left;
}

header nav {
    width: 50%;
    float: right;
    text-align: right;
}

header h1, header nav {
    margin: 20px 0 0 0;
}


header, header a {
    color: black;
}


    /* font size */
    header h1 {
        font-size: 2.5em;
        letter-spacing: .08em;  
        white-space: nowrap;
    }    

    header p {
        font-size: 80%;
        letter-spacing: .2em;
    }


nav {
/*    margin-top: 4%;
*/}

    nav p {
        display: inline-block;
        margin-left: 5%;
    }

/* nav on a page */

.page header {
    text-align: left;
    float: left;
    width: 24%;
}

.page header h1, .page header nav {
    float: left;
    text-align: left;
    width: 100%;
    margin: 0; /* reset */
}

.page header h1 {
    margin: 20px 0 0 0;
}
.page header p {
    margin: 3% 5% 6% 0;
}



/* sections are the rows */
section {
    float: left;
    display: block;
    width: 100%;
    margin-top: 2%;
}

section img {
    box-shadow: 0px 0px 10px rgba(0,0,0,.2);
    min-width: 100%;

}

section:last-child {
    margin-bottom: 5%;
}



/* grid */
section a > div {
    width: 24%;
    display: block;
    position: relative;
    float: left;
    margin-right: 1.33333%;
}

section a:last-child > div {
    margin-right: 0;
}

section > div > div {
    display: block;
    position: relative;
    float: left;
    margin: 0 1% 0 0;
    text-transform: uppercase;
}

    section div > div + div {
        height: 100%;
        width: 100%;
        background: rgba(0,0,0,.5);
        position: absolute;
        text-align: left;
        top: 0;
    }


/* hovers */

    section div > div {
        opacity: .9;   
    }

    section div > div + div {
        opacity: 1;   
    }

    section div:hover > div + div {
        opacity: 0;
    }

    section div > div + div {
        background: rgba(0,0,0,.5);
        font-size: 2em;
        line-height: 1.7em;
        overflow: hidden;
    }

    section div .info {
        padding: 2%;
        width: 95%;
    }

        section div .info h2 {
            font-weight: 300;
            display: inline-block;
            margin: 0;
        }

/*typography colors */
     section div:nth-child(1) > div + div {
        color: rgb(0, 255, 224);
    }

    .camera, .interviews, .editor, .animator, .director, .designer, .assorted {
        color: rgb(255, 128, 224);
    }


/*  separate if needed

   .camera {
        color: rgb(255, 219, 77);
    }

    .interviews {
        color: rgb(255, 219, 77);
    }

    .editor {
        color: rgb(255, 219, 77);
    }

    .director {
        color: rgb(255, 219, 77);
    }

    .designer {
        color: rgb(255, 219, 77);
    }

    .animator {
        color: rgb(255, 219, 77);
    }

    .assorted {
        color: rgb(255, 219, 77);
    }*/


/* article */



div.post {
    float: left;
    width: 70%;
    margin-bottom: 10%;
    margin-left: 1%;
}


.video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.description {
    width: 60%;
    text-align: left;
    font-size: .8em;
    letter-spacing: .05em;
    margin-bottom: 7%;
}

    .description h1 {
        margin-bottom: 0px;
    }

    .description h2 {
        margin-top: 0;
    }

    .description p {
        font-weight: 300;
    }

div.photos img {
    margin-bottom: 2%;
}



/* responsive grid & typography & nav */
@media all and (max-width: 1360px) {
    body {
        font-size: 12px;
    }   

    header {
        font-size: 1.2em;
    }

    body div.post {
        font-size: 16px;
    }       

}

@media all and (max-width: 1124px) {
    body {
        font-size: 18px;
    }   


/* new header */
    header {
        font-size: 80%;
    }

    header h1 {
        margin-bottom: 10px;
    }

    .page header h1, .page header nav {
        text-align: center;
        width: 100%;
    }

    .page header p {
        margin: 1% 3%;
    }  

    /* back button */
    div.page a nav:last-child p{
        margin: 0;
    }

    .page header, .page header nav {
        width: 100%;
    }

    .page header h1 {
        text-align: center;
        margin: 20px 0 0 0;
    }

    .page header nav {
        text-align: center;
        margin: 0 0 20px 0;
    }

/* hover colors in header */
        .page header a:hover  h1, .page nav a:hover,  .page a:hover nav p {
            color: white;
        }

}



/* new grid */

    section a > div {
        width: 48.6%;
        margin-bottom: 2%;
    }   

    section {
        margin: 0;
    }

    

    /* new article */

    div.post {
        width: 95%;
    }


    div.page a nav:last-child {
        color: black;
        padding: 22px 0;
    }

    .description {
        margin: 0 auto;
        text-align: center;
    }

    .page nav a {
        color: black;
    }



@media all and (max-width: 700px) {
/* new header */
    header {
        width: 100%;
        font-size: .8em;
        margin-bottom: 2%;
    }

    header a {
        color: black;
    }

    header, header nav, .page header, .page header nav {
        width: 100%;
    }

    header h1, .page header h1 {
        text-align: center;
        margin: 20px 0 0 0;
    }

    header nav, .page header nav {
        text-align: center;
        margin: 0 0 20px 0;
    }

    header h1, header nav {
        background: none;
        color: black;
        font-size: 1.5em;
        float: left;
        width: 100%;
    }

    header h1 {
        font-size: 3em;
    }

    
    nav p {
        display: inline-block;
        margin: 0 3%;
    }



    body {
        font-size: 12px;
    }  

    header, section a > div {
        width: 96%;
    }   

    section div > div {
        width: 100%;
    }

    .description {
        width: 80%;
    }

}


/* scroll to top override styles */
#topcontrol {
    bottom: 15px !important;
    left: 15px !important;
    right: 0 !important;
}
