/* */
html, body {
  width: 100%;
  overflow-x: hidden; }

body {
  background: url("../img/bg-school-tile.png") repeat black;
  padding: 0;
  margin: 0;
  font-family: 'oswald', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: white; }

::-moz-selection {
  background: #ff80e0;
  text-shadow: none; }

::selection {
  background: #ff80e0;
  text-shadow: none; }

audio,
canvas,
img,
video {
  vertical-align: middle; }

iframe {
  border: none; }

.wrapper {
  background: black;
  border: 20px solid #00ffe0;
  border-bottom: 20px solid #ff80e0;
  border-top: 20px solid #ff80e0; }

img {
  max-width: 100%; }

a {
  text-decoration: none;
  color: inherit; }

a:hover {
  color: #00ffe0; }

.highlight {
  color: #ff80e0 !important; }

div {
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease; }

.container {
  width: 100%;
  display: block; }

h1, h2, h3 {
  font-weight: 300;
  margin: 0; }

/* home page typography */
header {
  display: block;
  letter-spacing: 0.3em;
  color: #00ffe0; }

header a {
  color: white; }

header h1 {
  font-size: 3em; }

header .icons {
  font-size: 2em; }

section div > div + div {
  font-size: 2em;
  line-height: 1.53846em; }

/* colors */
section div {
  color: #00ffe0; }

section div span {
  color: #ff80e0; }

/* change font sizes */
@media screen and (max-width: 1500px) {
  section, .post {
    font-size: 80%; } }
@media screen and (max-width: 960px) {
  section, .post {
    font-size: 100%; } }
@media screen and (max-width: 540px) {
  section, .post {
    font-size: 85%; } }
/* header grid */
header {
  width: 100%;
  margin: 3.33333% 0; }

header {
  text-align: center; }

/* sections are the rows */
section {
  display: inline-block;
  width: 100%; }

section:last-child {
  margin-bottom: 5%; }

section div img {
  min-width: 100%; }

section a > div {
  width: 25%;
  position: relative;
  float: left;
  overflow: hidden; }

section a:last-child > div {
  margin-right: 0; }

section > div > div {
  position: relative; }

/* dark overlay */
section div > div + div {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5); }

/* hide overlay on hover */
section div:hover > div + div {
  opacity: 0; }

section div .info {
  padding: 10px; }

/* break to 2 col at 1160 */
@media screen and (max-width: 1200px) {
  section a > div {
    width: 50%; } }
/* break to 1 col at 790 */
@media screen and (max-width: 790) {
  section a > div {
    width: 100%; }

  section div .info {
    padding: 25px 15px;
    width: 95%; } }
/* article */
div.post {
  width: 90%;
  margin: 25px auto;
  text-align: center;
  letter-spacing: 0.1em; }

@media screen and (min-width: 1280px) {
  div.post {
    width: 1280px; } }
@media screen and (max-width: 960px) {
  div.post {
    width: 100%; } }
.post hr {
  margin-bottom: 50px; }

.description hr {
  margin: 0; }

.description p {
  text-align: left;
  text-transform: none; }

.center p {
  text-align: center;
  text-transform: uppercase; }

.video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0; }

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.description {
  width: 50%;
  margin: 25px auto; }

@media screen and (max-width: 960px) {
  .description {
    width: 90%; } }
.description h1 {
  margin-bottom: 0px; }

.description h2 {
  margin-top: 0; }

.description p {
  font-weight: 300; }

div.photos img {
  margin-bottom: 2%; }

.more {
  margin-top: 50px;
  text-align: center; }

#grid {
  margin-top: 25px;
  text-align: left; }

/* scroll to top override styles */
#topcontrol {
  bottom: 15px !important;
  left: 15px !important;
  right: 0 !important;
  width: 45px !important; }

/* snowy */
.fall_snow {
  background-image: url("../img/snow/snow1.png"), url("../img/snow/snow2.png"), url("../img/snow/snow3.png");
  height: 10000px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-animation: snow 10s linear infinite;
  -moz-animation: snow 10s linear infinite;
  -ms-animation: snow 10s linear infinite;
  animation: snow 10s linear infinite; }

@keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px; }

  50% {
    background-position: 500px 500px, 100px 200px, -100px 150px; }

  100% {
    background-position: 500px 1000px, 200px 400px, -100px 300px; } }

@-moz-keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px; }

  50% {
    background-position: 500px 500px, 100px 200px, -100px 150px; }

  100% {
    background-position: 400px 1000px, 200px 400px, 100px 300px; } }

@-webkit-keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px; }

  50% {
    background-position: 500px 500px, 100px 200px, -100px 150px; }

  100% {
    background-position: 500px 1000px, 200px 400px, -100px 300px; } }

@-ms-keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px; }

  50% {
    background-position: 500px 500px, 100px 200px, -100px 150px; }

  100% {
    background-position: 500px 1000px, 200px 400px, -100px 300px; } }

.button {
  background: #00ffe0;
  padding: 10px 3%;
  display: inline-block; }

.button:hover {
  cursor: pointer;
  opacity: 0.8;
  background: #ff80e0; }

.snow {
  margin-top: 1%;
  color: black;
  position: fixed;
  top: 0;
  left: 0; }

/* stack order */
.fall_snow {
  z-index: 1; }

.container {
  position: relative;
  z-index: 10; }

.fall_snow {
  display: none; }
