body {
    color:#000000; 
    background:#FFFFFF; 
    font-size: 16px;
    margin:0 0 0 0;
    font-family: helvetica, sans-serif;
    text-align: left;
    text-transform: uppercase;
}

a {
    transition: all ease-in .1s;
}


/* home page */

.homepage {
    text-align: center;
}

.homepage a {
    text-decoration: none;
}

.homepage header {
    font-family: 'sansita one', sans-serif;
    text-transform: none;
    color: #FFF;
    font-size: 3em; 
    margin: 5% 0;
}

.homepage header h1 {
}

.homepage section {
    background: rgba(255,255,255,.8);
    padding: 25px 2% 0px 2%;
    margin-bottom: 2%;
    display: block;
    height: 100px;
    position: relative;
    transition: all .3s;
}

.homepage #about {
    background: rgba(255,255,255,.6);
}


.homepage section:hover, .homepage #about:hover  {
    background: rgba(255,255,255,1);
}


.homepage section a .click {
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}

.homepage section h1 {
    font-size: 1.1em;
    margin-bottom: 0;
    line-height: 1em;
}

.homepage section h2 {
    font-size: .8em;
    margin-top: 0;
    line-height: 1.2em;
}



@media (max-width: 767px) {
    .homepage header h1 {
        font-size: 1.1em;
    }

}

/*about page */

.aboutpage {
    max-width: 960px;
    margin: 0 auto;
}

.aboutpage header {
     margin: 5% 0;
}

.aboutpage header h1 a {
    color: #FFF;
}

.aboutpage .btn {
    margin: 2% 0;
}



/* work page */

.backbutton {
    position: fixed;
    top: 40%;
    width: 100%;
    float: left;
    color: black;
    font-size: 1em;
    margin-top: 1%;
    z-index: 0;
}

.backbutton p {
    margin: 1% 0 1% 0;
}

.backbutton p a, .backbutton p a:visited  {
    text-decoration: none;
    background: rgba(164, 253, 243,.3);
    padding: 10px;
}

.backbutton p a:hover {
    background: rgba(164, 253, 243,.9);
}

.backbutton a i {
    padding-right: .5%;
}

section {
    width: 100%;
    float: left;
    display: block;
}

section article {
    font-size: .9em;
}



h1, h2, p {
    font-weight: 300;
}

h1 {
    font-size: 2em;
    margin-bottom: 0;
}

h2 {
    font-size: 1em;
}

p {
    font-size: .8em;
    margin-bottom: 1%;
}

h2,  p {
    letter-spacing: .1em;
    margin-top: 1%;
}

a {
    color: black;
    text-decoration: underline;
    padding: 5px 1px;
}

.description {
   color: rgb(32, 32, 32);
    height: 40%;
    margin: 0 auto;
    display: block;
    text-align: left;
    padding-left: 10%;
}

.description p {
    width: 50%;
    line-height: 1.5em;
}

.description a {
    text-decoration: none;
    padding: 5px 7px;
    border-radius: 1px;
    -moz-border-radius: 1px;
}

.description a:hover {
    background: rgba(0,0,0,.1);
}

.description a:hover .external {
    background: none;
    padding: 0;
}

a:hover img {
    background: none;
}

.description iframe, .postimages img {
    box-shadow: 0px 0px 50px rgba(0,0,0,.3);
    background: rgba(255,255,255,.3);
    margin-bottom: 2%;
}

.highlight {
    background: rgba(123, 255, 170,.7);
    display: inline-block;
    padding: 1%;
    transition: all ease-in .1s;
}

.highlight:hover {
    background: rgba(123, 255, 170,1);
}

.highlight a {padding: none;}
.highlight a:hover {background: none;}

.credits p {
    line-height: 1.1em;
    margin-bottom: 10px;
    margin-top: 0;
}

.credits {
    margin-bottom: 1%;
}





