body {
    color:#000000; 
    background:#FFFFFF; 
    font-size: 16px;
    margin:0 0 0 0;
    font-family: helvetica, sans-serif;
    text-align: left;
    text-transform: uppercase;
}

a {
    transition: all ease-in .1s;
}


/* home page */

.homepage {
    text-align: center;
}

.homepage a {
    text-decoration: none;
}

.homepage header {
    font-family: 'sansita one', sans-serif;
    text-transform: none;
    color: #FFF;
    font-size: 3em; 
    margin: 5% 0;
}

.homepage header h1 {
}

.homepage section {
    background: rgba(255,255,255,.8);
    padding: 25px 2% 0px 2%;
    margin-bottom: 2%;
    display: block;
    height: 100px;
    position: relative;
    transition: all .3s;
}

.homepage #about {
    background: rgba(255,255,255,.6);
}


.homepage section:hover, .homepage #about:hover  {
    background: rgba(255,255,255,1);
}


.homepage section a .click {
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}

.homepage section h1 {
    font-size: 1.1em;
    margin-bottom: 0;
    line-height: 1em;
}

.homepage section h2 {
    font-size: .8em;
    margin-top: 0;
    line-height: 1.2em;
}



@media (max-width: 767px) {
    .homepage header h1 {
        font-size: 1.1em;
    }

}

/*about page */

.aboutpage {
    max-width: 960px;
    margin: 0 auto;
}

.aboutpage header {
     margin: 5% 0;
}

.aboutpage header h1 a {
    color: #FFF;
}

.aboutpage .btn {
    margin: 2% 0;
}



/* backbutton page */

/*.backbutton {
    position: fixed;
    top: 40%;
    width: 100%;
    float: left;
    color: black;
    font-size: 1em;
    margin-top: 1%;
    z-index: 0;
}

.backbutton p {
    margin: 1% 0 1% 0;
}

.backbutton p a, .backbutton p a:visited  {
    text-decoration: none;
    background: rgba(164, 253, 243,.3);
    padding: 10px;
}

.backbutton p a:hover {
    background: rgba(164, 253, 243,.9);
}

.backbutton a i {
    padding-right: .5%;
}
*/


/* post page */

.postpage {
    max-width: 960px;
    margin: 0 auto;
}

h1, h2, h3, p {
    font-weight: 300;
}

a > .postpage /*, .postpage a:visited */{
    text-decoration: underline;
    color: inherit;
}

/*.postpage a:hover {
    background: yellow;
}
*/

