body:after {
  content: url(../img/close.png) url(../img/loading.gif) url(../img/prev.png) url(../img/next.png);
  display: none; }

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  opacity: 0.8;
  display: none; }

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal; }
  .lightbox .lb-image {
    display: block;
    height: auto;
    max-width: inherit; }
  .lightbox a img {
    border: none; }

.lb-outerContainer {
  position: relative;
  background-color: #030303;
  width: 250px;
  height: 250px;
  margin: 0 auto; }

.lb-container {
  padding: 4px; }

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0%;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0; }

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../img/loading.gif) no-repeat; }

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10; }

.lb-container > .nav {
  left: 0; }

.lb-nav a {
  outline: none; }

.lb-prev, .lb-next {
  width: 49%;
  height: 100%;
  cursor: pointer;
  /* Trick IE into showing hover */
  display: block; }

.lb-prev {
  left: 0;
  float: left;
  background: url(../img/prev.png) left 48% no-repeat;
  opacity: 0.3; }
  .lb-prev:hover {
    opacity: 1; }

.lb-next {
  right: 0;
  float: right;
  background: url(../img/next.png) right 48% no-repeat;
  opacity: 0.3; }
  .lb-next:hover {
    opacity: 1; }

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  width: 100%; }

.lb-data {
  padding: 0 4px;
  color: #bbbbbb; }
  .lb-data .lb-details {
    width: 85%;
    float: left;
    text-align: left;
    line-height: 1.1em; }
  .lb-data .lb-caption {
    font-size: 13px;
    font-weight: bold;
    line-height: 1em; }
  .lb-data .lb-number {
    display: block;
    clear: left;
    padding-bottom: 1em;
    font-size: 12px;
    color: #999999; }
  .lb-data .lb-close {
    display: block;
    float: right;
    width: 30px;
    height: 30px;
    background: url(../img/close.png) top right no-repeat;
    text-align: right;
    outline: none;
    opacity: 0.3; }
    .lb-data .lb-close:hover {
      opacity: 1; }
    .lb-data .lb-close:hover {
      cursor: pointer; }

/* screen */
/* Typography
 *----------------------------------------------- */
body,
input,
textarea {
  color: #cccccc;
  font-size: 18px;
  font-family: "Karla", "lucida grande", sans-serif; }

ol {
  list-style-type: decimal; }

dt {
  font-weight: bold; }

dd {
  margin-bottom: 1.625em; }

strong {
  font-weight: bold; }

i {
  font-style: italic; }

pre {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: #2b2b2b;
  font: 13px "Andale Mono", "DejaVu Sans Mono", monospace;
  line-height: 1.5em;
  overflow-x: auto; }

code, kbd {
  padding: 4px;
  color: #ac8053;
  background-color: #2b2b2b;
  font: 13px "Andale Mono", "DejaVu Sans Mono", monospace; }

code {
  position: relative;
  top: -1px; }

pre code {
  top: 0;
  padding: 0;
  background: transparent;
  font-size: 13px; }

a {
  color: #00bfa8;
  text-decoration: none; }
  a:hover {
    color: #59ffeb; }

::-moz-selection,
::selection {
  background: #ff8000;
  color: white; }

.sub-point {
  display: block;
  font-size: 14px; }
  .sub-point code {
    font-size: 12px;
    padding: 2px; }

/* -- Layout ------------------------------------------------------------------ */
body {
  margin: 40px 40px 80px 40px;
  background: #444444; }

.wrapper {
  max-width: 740px;
  margin: 0 auto; }

.section {
  padding: 0 0 40px 0;
  margin-bottom: 40px;
  border-bottom: 4px solid #373737; }
  .section.last {
    border-bottom: none; }

.section-header {
  text-align: center; }

.section-subheader {
  margin-top: -0.6em;
  margin-bottom: 1em;
  text-align: center;
  font-size: 24px; }

/* -- Sections ------------------------------------------------------------------ */
/* -- Intro -- */
.intro-section {
  text-align: center; }

.logo {
  color: white;
  margin-bottom: 0.05em; }
  .logo .version {
    color: #fdf485; }

.author {
  margin-top: -9px;
  padding-left: 23px;
  line-height: 1.2em; }

.author-links {
  font-size: 16px; }

.lead {
  font-size: 22px; }

/* -- Examples -- */
.examples-section {
  text-align: center; }

.image-row {
  margin-bottom: 20px; }

.example-image-link {
  display: inline-block;
  margin: 0 10px 20px 10px;
  line-height: 0;
  border: 4px solid #5e5e5e; }
  .example-image-link:hover {
    border: 4px solid #00bfa8; }

/* -- Download -- */
.download-section {
  text-align: center; }

.download-button {
  display: block;
  max-width: 300px;
  margin: 0 auto 20px auto;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: #2b2b2b;
  border: 4px solid #444444; }
  .download-button:hover {
    border-color: #00bfa8;
    background-color: #444444; }
  .download-button .file {
    font-size: 36px;
    color: white;
    line-height: 1em; }
  .download-button .version {
    font-size: 24px;
    color: #00bfa8; }

/* -- Donate -- */
.donate-button-form {
  text-align: center; }

.donate-button {
  border: 4px solid rgba(0, 0, 0, 0); }
  .donate-button:hover {
    background-color: #444444;
    border-color: #00bfa8; }

/* -- Credits -- */
.credits-section {
  text-align: center; }

/* -- Sharing -- */
.sharing-section {
  position: fixed;
  top: 20px;
  right: 0; }

/* -- Responsive design -------------------------------------------------------------- */
@media only screen and (max-width: 640px) {
  body {
    margin: 80px 10px 40px 10px;
    font-size: 14px; }

  h1 {
    font-size: 48px; }

  h2 {
    font-size: 26px; }

  h3 {
    font-size: 16px; }

  ol {
    list-style-position: inside; }

  code,
  kbd,
  pre,
  pre code {
    font-size: 11px; }

  .sub-point {
    font-size: 12px; }
    .sub-point code {
      font-size: 9px; }

  .lead {
    font-size: 16px; }

  .section {
    padding-bottom: 20px;
    margin-bottom: 20px; }

  .author {
    margin-top: -5px;
    padding-left: 30px; }

  .author-links {
    font-size: 12px; } }
