::selection {
  background: #141414;
  color: white; }

::-moz-selection {
  background: #141414;
  color: white; }

html, body {
  width: 100%;
  max-width: 100%;
  background: #f7f7f7; }

a {
  color: #141414;
  text-decoration: none;
  -webkit-transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -ms-transition: 0.5s ease all;
  -o-transition: 0.5s ease all;
  transition: 0.5s ease all; }
  a:hover {
    color: #1f29df; }
  a.active {
    text-decoration: underline;
    cursor: text; }
    a.active:hover {
      background: none; }

#wrapper {
  width: 100%;
  text-align: center; }

.button p, .button a {
  background: #1f29df;
  text-decoration: none; }
  .button p:hover, .button a:hover {
    background: none !important;
    color: #141414 !important; }

.photogrid {
  margin: 0 auto;
  z-index: 99;
  max-width: 100%;
  font-size: 0;
  display: inherit !important; }
  .photogrid .photo {
    display: inline-block;
    font-size: 0;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden; }
    .photogrid .photo:nth-child(3n+3) {
      padding-right: 0; }
    .photogrid .photo img {
      max-width: 100%;
      -webkit-transition: 0.5s ease all;
      -moz-transition: 0.5s ease all;
      -ms-transition: 0.5s ease all;
      -o-transition: 0.5s ease all;
      transition: 0.5s ease all;
      filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale");
      -webkit-filter: grayscale(0%); }
      .photogrid .photo img:hover {
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
        filter: gray;
        -webkit-filter: grayscale(1); }

header {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  -webkit-transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -ms-transition: 0.5s ease all;
  -o-transition: 0.5s ease all;
  transition: 0.5s ease all;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: fixed;
  top: 2%;
  width: 100%;
  text-align: center;
  font-size: 0;
  z-index: 1000; }
  header:hover {
    opacity: 1; }
  header img {
    max-width: 100%;
    width: 300px; }
    @media screen and (max-width: 1000px) {
      header img {
        height: 80px;
        width: auto; } }
  .intro header {
    position: relative;
    padding-top: 8%; }
    .intro header img {
      width: 600px;
      height: auto; }
  .about header {
    position: relative;
    padding-top: 8%; }
    .about header img {
      width: 600px;
      height: auto; }

nav.interslide {
  bottom: 2%;
  width: 100%;
  text-align: center;
  position: fixed;
  z-index: 1000; }
  nav.interslide div {
    display: inline-block;
    padding: 0 11px; }
    nav.interslide div:hover {
      cursor: pointer; }
    nav.interslide div img {
      height: 50px; }
      @media screen and (max-width: 1000px) {
        nav.interslide div img {
          height: 75px;
          padding: 0 22px; } }

nav.main {
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  -webkit-transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -ms-transition: 0.5s ease all;
  -o-transition: 0.5s ease all;
  transition: 0.5s ease all;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: fixed;
  z-index: 1001;
  top: 3%;
  left: 2%; }
  nav.main:hover {
    opacity: 1; }
  nav.main a {
    padding: 0 44px 44px 0; }
  nav.main p a::before {
    content: url("../imgs/info1-sm.png");
    padding: 0 44px 44px 0; }
  .about nav.main p a::before {
    content: url("../imgs/arrow1-left.png");
    width: 50px; }

@media screen and (max-width: 1000px) {
  nav.main {
    top: 0;
    left: 0;
    padding: 1% 2%; }
    nav.main a {
      padding: 0 44px 44px 0; }
    nav.main:hover {
      opacity: 0.3;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
      filter: alpha(opacity=30); }
    nav.main p a::before {
      display: block;
      padding: 0 44px 44px 0; } }
.intro article, .about article {
  margin: 2% 0; }
@media screen and (max-width: 850px) {
  .intro, .about {
    width: 75%;
    margin: 2% auto; } }

.post {
  width: 800px;
  max-width: 100%;
  margin: 0 auto; }

.story .post {
  position: relative; }
  .story .post a {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
    .story .post a:hover {
      background: none;
      color: #0600ff; }
  .story .post .close {
    position: absolute;
    padding-right: 22px;
    padding-left: 8%;
    z-index: 100000; }
    .story .post .close img {
      width: 35px; }
  .story .post .photo img {
    text-align: center; }
  @media screen and (min-width: 1000px) {
    .story .post .note {
      opacity: 0.2;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
      filter: alpha(opacity=20);
      -webkit-transition: 0.5s ease all;
      -moz-transition: 0.5s ease all;
      -ms-transition: 0.5s ease all;
      -o-transition: 0.5s ease all;
      transition: 0.5s ease all;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      position: absolute;
      top: 4%; }
      .story .post .note:hover {
        opacity: 1; }
    .story .post .right, .story .post .right-push {
      top: 8% !important; }
    .story .post .middle {
      top: 30% !important; } }
.story .gridposition {
  padding-top: 4%;
  text-align: center; }
  .story .gridposition img {
    height: 50px; }
    @media screen and (max-width: 1000px) {
      .story .gridposition img {
        display: none; } }
    @media screen and (min-width: 1300px) {
      .story .gridposition img {
        height: 70px; } }

img.fixed {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-transform-style: preserve-3d; }

body {
  font-size: 16px;
  font-family: "Volkorn", "times new roman", serif;
  font-weight: 400; }

a {
  text-decoration: underline; }
  nav a {
    text-decoration: none; }

h1, h2 {
  font-size: 1em; }

strong {
  font-weight: 700; }

p {
  font-size: 2em;
  line-height: 1.5em;
  text-align: left; }
  nav.main p {
    font-size: 1em;
    margin-top: 0; }
  p.center {
    text-align: center;
    font-size: 1.5em; }

.credits p {
  font-size: 100%; }
.credits a.logo {
  font-size: 0; }
  .credits a.logo img {
    height: 20px;
    vertical-align: bottom;
    padding-bottom: 9px; }

.credits, footer {
  margin-top: 50px; }

footer p {
  text-align: center;
  margin: -1px 0 0 0;
  font-size: 90%;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50); }
  footer p:first-child img {
    height: 20px; }
  footer p span {
    font-family: helvetica, arial, sans-serif; }

.highlight p, .highlight a {
  background: #1f29df;
  text-decoration: none; }
  .highlight p:hover, .highlight a:hover {
    background: none !important;
    color: #141414 !important; }

.inactive {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
  cursor: default !important; }
