
// sassy supplies

$link: rgb(20, 20, 20);
// $highlight: #FFFC00; 
$highlight: #1F29DF;
$white: #F7F7F7;
$darklight: #0600FF;

$transition: 0.5s ease all; 

$postwidth: 800px;
$spacer: 2%;
$headerwidth: 350px;

$lrg-bp: 1300px;
$med-bp:1000px;
$sm-bp: 850px;

@mixin vendorize($property, $value) {
  -webkit-#{$property}: $value;
  -moz-#{$property}: $value;
  -ms-#{$property}: $value;
  -o-#{$property}: $value;
  #{$property}: $value;
}

@mixin coverbg($url) {
  background: url($url) no-repeat center center fixed #FFF;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin selection($background, $color) {
  ::selection {background: $background; color: $color;}
  ::-moz-selection {background: $background;color: $color;}
}

@include selection ($link, white);

@mixin button {
  p, a {
    background: $highlight;
    text-decoration: none;  
    &:hover {
      background: none !important;
      color: $link !important;
    }
  }
}


@mixin mobilecontainer {
  @media screen and (max-width: $sm-bp) {
    width: 75%;
    margin: $spacer auto;
  }
} 

@mixin smalllogo {
  width: $headerwidth;
  @media screen and (max-width: $sm-bp) {
    width: 50%;
    margin-top: $spacer*5;
  } 
}

@mixin resetUL{
  @include vendorize(margin-before, 0);
  @include vendorize(margin-after, 0);
  @include vendorize(margin-start, 0);
  @include vendorize(margin-end, 0);
  @include vendorize(padding-start, 0);
}

@mixin nobghover {
  &:hover {
    background: none;
    color: $darklight;
  }
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

@mixin opacity($value){
  $IEValue: $value*100;
  opacity: $value;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
  filter: alpha(opacity=$IEValue);
}


@mixin opacityhover($base) {
  @include opacity($base);
  @include vendorize(transition, $transition);
  &:hover {
    opacity: 1;
  }

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

}



@mixin desaturateHover {
    @include vendorize(transition, $transition);
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);

  &:hover {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%); -o-filter: grayscale(100%);
    filter: url('data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale');
    filter: gray;
    -webkit-filter: grayscale(1);
  }
}













// general


html, body {
  width: 100%;
  max-width: 100%;
  background: $white; 
}


a {
  color: $link;

  text-decoration: none;
  @include vendorize(transition, $transition);
  &:hover {
    color: $highlight;
    // background: lighten($highlight,40%);
  }
  &.active{
    text-decoration: underline;
    cursor: text;
    &:hover {
      background: none;
    }
  }

}


#wrapper {
  width: 100%;
  text-align: center;
}

.button {
  @include button;
}


// photo grid 9x9
.photogrid {
  margin: 0 auto;
  z-index: 99;
  max-width: 100%;
  font-size: 0;
  display: inherit !important;

  .photo {
    display: inline-block;
    font-size: 0;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;

    &:nth-child(3n+3) { padding-right: 0; }

    img {
      max-width: 100%;
      @include desaturateHover;
    }
  }
}

// headers everywhere
@mixin unfixedheader {
  position: relative;
  padding-top: $spacer*4;
  img {
    width: $postwidth*0.75;
    height: auto;
  }
}

header {
  @include opacityhover(0.8);

  position: fixed;
  top: 2%;
  width: 100%;

  text-align: center;
  font-size: 0;

  z-index: 1000;

  img {
    max-width: 100%;
    width: 300px;
    @media screen and (max-width: $med-bp) { // bigger on mobile
      height: 80px;
      width: auto;
    }
  }

  // about & intro
  .intro & {@include unfixedheader;}
  .about & {@include unfixedheader;}
}


// interslide nav
nav.interslide {
  bottom: $spacer;
  width: 100%;
  text-align: center;
  position: fixed;
  z-index: 1000;

  div {
    display: inline-block;
    padding: 0 11px;
    &:hover {
      cursor: pointer;
    }
    img {
      height: 50px;
      @media screen and (max-width: $med-bp) {
        height: 75px;
        padding: 0 22px;
      }
    }
  }
}



$nav-padding:  0 44px 44px 0;
// main nav on desktops
nav.main {
  @include opacityhover(0.7);
  position: fixed;
  z-index: 1001;

  top: $spacer*1.5;
  left: $spacer;

  a {
    padding: $nav-padding;
  }

  p a::before {
    // content: "i";
    content: url('../imgs/info1-sm.png');
    padding: $nav-padding;
  }
  .about & {
    p a::before {
      content: url('../imgs/arrow1-left.png');
      width: 50px;
    }
  }
}


// main nav on mobiles
@media screen and (max-width: $med-bp) {
  nav.main {
    top: 0;
    left: 0;

    padding: $spacer/2 $spacer;

    a {
      padding: $nav-padding;
    }

    &:hover {
      @include opacity(0.3);
    }

    p a::before {
      display: block;
      padding: $nav-padding;
    }
  }
}




// intro & about page

.intro, .about {
  article {
    margin: $spacer 0;
  }
  @include mobilecontainer;
}


 // COLUMN WIDTH throughout
.post {
  width: $postwidth;
  max-width: 100%;
  margin: 0 auto;
}


// stories 
.story {
 .post {
    position: relative;

    a {
      @include nobghover;
    }

   .close {
      position: absolute;
      padding-right: 22px;
      padding-left: $spacer*4;
      z-index: 100000;
      img {
        width: 35px;
      }
   }

    .photo {
      img {
        text-align: center;
      }
    }

    // overlap note on big screens only
    @media screen and (min-width: $med-bp) {
      .note {
        @include opacityhover(0.2);
        position: absolute;
        top: $spacer*2;
      }
      .right, .right-push {
        top: $spacer*4 !important; 
      }
      .middle {
        top: $spacer*15 !important; 
      }
    } // overlap
  } // post

  .gridposition {
    padding-top: $spacer*2;
    text-align: center;
    img {
      height: 50px;
      @media screen and (max-width: $med-bp) {
        display: none;
      }
      @media screen and (min-width: $lrg-bp) {
        height: 70px;
      }
    }
  }
}







// fix annoying flickers
img.fixed {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-transform-style: preserve-3d;
}


// typography

body {
  font-size: 16px;
  font-family: "Volkorn", "times new roman", serif;
  font-weight: 400;
}

a {
  text-decoration: underline;
  nav & {
    text-decoration: none;
  }
}

h1, h2 {
  font-size: 1em;
}

strong {
  font-weight: 700;
}

p {
  font-size: 2em;
  line-height: 1.5em;
  text-align: left;

  nav.main & {
    font-size: 1em;
    margin-top: 0;
  }

  &.center {
    text-align: center;
    font-size: 1.5em;
  }
}


.credits {
  p {
    font-size: 100%;
  }

  a.logo {
    font-size: 0;
    img {
      height: 20px;
      vertical-align: bottom;
      padding-bottom: 9px;
    }
  }
}

.credits, footer {
  margin-top: 50px;
}

footer {
  p {
    text-align: center;
    margin: -1px 0 0 0;
    font-size: 90%;
    @include opacity(0.5);
    &:first-child {
      img {
        height: 20px;
      }
    }
    span {
      font-family: helvetica, arial, sans-serif;
    }
  }
}





.highlight {
  @include button;
}

.inactive {
  @include opacity(0.2);
  cursor: default !important;
}









