/* font styles */
::selection {
  color: white;
  background: #4700ff; }

::-moz-selection {
  color: white;
  background: #4700ff; }

body, html {
  width: 100%;
  margin: 0;
  padding: 0;
  background: url("http://sarahriazati.com/img/bg-school-tile.png") repeat #030303; }

.container {
  width: 100%; }

#photos {
  text-align: center; }

ul {
  display: block;
  list-style-type: none;
  -moz-margin-before: 0em;
  -moz-margin-after: 0em;
  -moz-margin-start: 0px;
  -moz-margin-end: 0px;
  -moz-padding-start: 00px;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px; }

#photos {
  width: 100%;
  margin: 0 auto;
  position: relative; }

ul li {
  width: 50%;
  display: inline-block; }

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0; }

/* transition */
div, a, img {
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -ms-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  transition: 0.3s ease all; }

/* typography */
body {
  font-size: 16px;
  color: white; }

h1, h2 {
  margin: 15px 0 0 0;
  text-shadow: 1px 1px 10px rgba(50, 50, 50, 0.1); }

h1 {
  font-family: 'playfair display', sans-serif;
  letter-spacing: 0.02em;
  font-size: 16em;
  color: #ffd600; }

h2 {
  font-family: 'alice', sans-serif;
  letter-spacing: 0.05em;
  color: #ffd600; }

a {
  color: inherit; }
  a:hover {
    color: #4700ff; }

/* info */
#info {
  background: url("../img2/photo62.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: 1;
  text-align: center;
  padding: 10% 0 40% 0; }

footer {
  height: 10em; }

@keyframes Pulse {
  0% {
    color: #ff0d51; }

  100% {
    color: #ffd600; } }

@-webkit-keyframes Pulse {
  0% {
    color: #ff0d51; }

  100% {
    color: #ffd600; } }

@-moz-keyframes Pulse {
  0% {
    color: #ff0d51; }

  100% {
    color: #ffd600; } }

@-o-keyframes Pulse {
  0% {
    color: #ff0d51; }

  100% {
    color: #ffd600; } }

#loading {
  position: fixed;
  top: 0;
  left: 0;
  background: #4700ff;
  padding: 25% 0 145% 0;
  z-index: 1000;
  width: 100%;
  text-align: center; }

#loading p {
  -webkit-animation: Pulse 0.5s alternate infinite;
  -moz-animation: Pulse 0.5s alternate infinite;
  -ms-animation: Pulse 0.5s alternate infinite;
  -o-animation: Pulse 0.5s alternate infinite;
  animation: Pulse 0.5s alternate infinite;
  font-family: 'alice', sans-serif;
  letter-spacing: 0.05em;
  font-size: 200%;
  color: #ffd600;
  text-transform: uppercase; }

#photos {
  z-index: 0; }
