/* resets */
ol, ul {
  display: block;
  list-style-type: none;
  -webkit-margin-before: 0em;
  -moz-margin-before: 0em;
  -ms-margin-before: 0em;
  -o-margin-before: 0em;
  margin-before: 0em;
  -webkit-margin-after: 0em;
  -moz-margin-after: 0em;
  -ms-margin-after: 0em;
  -o-margin-after: 0em;
  margin-after: 0em;
  -webkit-margin-start: 0px;
  -moz-margin-start: 0px;
  -ms-margin-start: 0px;
  -o-margin-start: 0px;
  margin-start: 0px;
  -webkit-margin-end: 0px;
  -moz-margin-end: 0px;
  -ms-margin-end: 0px;
  -o-margin-end: 0px;
  margin-end: 0px;
  -webkit-padding-start: 0px;
  -moz-padding-start: 0px;
  -ms-padding-start: 0px;
  -o-padding-start: 0px;
  padding-start: 0px;
}

::selection {
  color: white;
  background: black;
}

::-moz-selection {
  color: white;
  background: black;
}

/* styles */
html, body {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: #26f3d0;
}

div, a, p.button, img, li {
  -webkit-transition: 0.8s ease all;
  -moz-transition: 0.8s ease all;
  -ms-transition: 0.8s ease all;
  -o-transition: 0.8s ease all;
  transition: 0.8s ease all;
}

a {
  color: white;
  text-decoration: underline;
}
a:hover {
  color: #26f3d0;
}

img {
  max-width: 100%;
}

/* body bg */
body {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/95495/selfiesinitaly_bg_3.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*  @media screen and (max-width: 960px) {
      background-position: 10 0;
      background-attachment: scroll;
      background-size: cover; 
    }*/
  font-family: "cardo", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

/* spacing & grid */
#rapper {
  padding: 0;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.module {
  padding: 25% 0;
  width: 100%;
  max-width: 100%;
  text-align: center;
}

.container {
  width: 95%;
  margin: 0 auto;
}
@media screen and (min-width: 1100px) {
  .container {
    width: 60%;
  }
}

/* header */
header {
  background: rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 790px) {
  header.module {
    padding: 50% 0;
  }
}
header section h1 a {
  font-size: 1.5em;
  line-height: 1em;
  text-decoration: none;
  font-weight: 400;
}
@media screen and (max-width: 790px) {
  header section h1 a {
    font-size: 90%;
  }
}
header section .start {
  max-width: 5%;
  margin: 5% auto;
}
@media screen and (max-width: 790px) {
  header section .start {
    max-width: 15%;
  }
}

/* pics */
#pics {
  background: rgba(10, 10, 10, 0.92);
  color: #646464;
}
@media screen and (max-width: 790px) {
  #pics {
    color: white;
  }
}
#pics p {
  margin-bottom: 8%;
}
#pics ul#photos li {
  max-width: 32%;
  display: inline-block;
  margin: 0;
  padding: 0 0.5% 0 0;
  opacity: 0.6;
}
#pics ul#photos li:hover {
  opacity: 1;
}

footer {
  height: auto;
  display: inline-block;
  margin-bottom: -10px;
}
footer.module {
  padding: 2% 0;
  background: rgba(50, 50, 50, 0.9);
  color: white;
}
footer .leftcol, footer .rightcol {
  width: 47%;
  display: inline-block;
  text-align: left;
  vertical-align: top;
  padding: 0 0 0 2%;
}
@media screen and (max-width: 790px) {
  footer .leftcol, footer .rightcol {
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
  footer .leftcol img, footer .rightcol img {
    width: 80%;
    margin-top: 3%;
  }
}
footer .leftcol {
  float: left;
}
footer .rightcol {
  padding-top: 8%;
  float: right;
}
footer img {
  opacity: 0.4;
}

.lb-data .lb-number {
  visibility: hidden;
}

.lb-data .lb-caption {
  font-family: cardo;
  font-weight: 400;
  font-style: italic;
  font-size: 2em;
}

.lb-next {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/95495/lightbox_next.png) right 48% no-repeat;
}

.lb-prev {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/95495/lightbox_prev.png) left 48% no-repeat;
}

.lb-data .lb-close {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/95495/lightbox_close.png) top right no-repeat;
}

.lightboxOverlay {
  opacity: 0.95;
}
