body, html {
  width: 100%;
  margin: 0;
  padding: 0;
  background: #000; }

.container {
  width: 100%; }

#thephoto {
  width: 100%;
  height: 100vh;
  background: green; }

img {
  width: 100%;
  max-width: 100%;
  height: auto; }
