::selection {
  background: #141414;
  color: white; }

::-moz-selection {
  background: #141414;
  color: white; }

/* general */
html, body {
  width: 100%;
  max-width: 100%;
  background: #f7f7f7; }

a {
  color: #141414;
  text-decoration: none;
  -webkit-transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -ms-transition: 0.5s ease all;
  -o-transition: 0.5s ease all;
  transition: 0.5s ease all; }
  a:hover {
    background: #fffecc; }
  a.active {
    text-decoration: underline;
    cursor: text; }
    a.active:hover {
      background: none; }

.wrapper {
  width: 100%;
  text-align: center; }

.button p, .button a {
  background: #fffc00;
  text-decoration: none; }
  .button p:hover, .button a:hover {
    background: none !important;
    color: #141414 !important; }

/* photo grid 9x9 */
.photogrid {
  margin: 0 auto;
  z-index: 99;
  padding-left: 0  !important;
  padding-right: 0 !important;
  max-width: 100%; }
  @media screen and (max-width: 850px) {
    .photogrid {
      width: 90%;
      margin: 8% 2%; } }
  .photogrid .photo {
    display: inline-block;
    font-size: 0;
    margin: 0;
    padding: 1% 1% 0 0;
    text-align: center;
    opacity: 0.8;
    -webkit-transition: 0.5s ease all;
    -moz-transition: 0.5s ease all;
    -ms-transition: 0.5s ease all;
    -o-transition: 0.5s ease all;
    transition: 0.5s ease all; }
    .photogrid .photo img {
      max-width: 100%; }
    .photogrid .photo:hover {
      opacity: 1; }
    .photogrid .photo:nth-child(3n+3) {
      padding-right: 0; }

.photogrid .up, .photogrid .down {
  display: inline-block;
  padding: 1%;
  width: 42%; }
  .photogrid .up a, .photogrid .down a {
    width: 100%;
    display: block; }
  .photogrid .up img, .photogrid .down img {
    height: 50px; }
.photogrid .up {
  text-align: right; }
.photogrid .down {
  text-align: left; }

#section0 .down, #section0 .up {
  text-align: center;
  width: 100%; }

/* headers everywhere */
header {
  font-size: 0;
  position: fixed;
  top: 2%;
  text-align: center;
  width: 100%;
  z-index: 1000;
  opacity: 0.8;
  -webkit-transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -ms-transition: 0.5s ease all;
  -o-transition: 0.5s ease all;
  transition: 0.5s ease all; }
  header:hover {
    opacity: 1; }
  header img {
    max-width: 100%;
    width: 300px; }
  .intro header {
    position: relative;
    padding-top: 8%; }
    .intro header img {
      width: 800px; }
  .about header {
    position: relative;
    padding-top: 8%; }
    .about header img {
      width: 800px; }
  .story header {
    position: relative;
    padding-top: 8%;
    padding-top: 1%; }
    .story header img {
      width: 800px; }
    .story header img {
      width: 200px; }

/* nav & footer behave the same */
nav.main, footer {
  position: fixed;
  z-index: 100;
  opacity: 0.3;
  -webkit-transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -ms-transition: 0.5s ease all;
  -o-transition: 0.5s ease all;
  transition: 0.5s ease all; }
  nav.main:hover, footer:hover {
    opacity: 1; }
  nav.main ul, footer ul {
    -webkit-margin-before: 0;
    -moz-margin-before: 0;
    -ms-margin-before: 0;
    -o-margin-before: 0;
    margin-before: 0;
    -webkit-margin-after: 0;
    -moz-margin-after: 0;
    -ms-margin-after: 0;
    -o-margin-after: 0;
    margin-after: 0;
    -webkit-margin-start: 0;
    -moz-margin-start: 0;
    -ms-margin-start: 0;
    -o-margin-start: 0;
    margin-start: 0;
    -webkit-margin-end: 0;
    -moz-margin-end: 0;
    -ms-margin-end: 0;
    -o-margin-end: 0;
    margin-end: 0;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    -ms-padding-start: 0;
    -o-padding-start: 0;
    padding-start: 0;
    right: 0;
    width: 100%; }
    nav.main ul li, footer ul li {
      display: inline-block;
      position: fixed; }
      nav.main ul li:first-child, footer ul li:first-child {
        left: 2%; }
      nav.main ul li:nth-child(2), footer ul li:nth-child(2) {
        right: 2%; }

nav.main {
  top: 3%; }
  nav.main ul li:last-child p, nav.main ul li:last-child a {
    background: #fffc00;
    text-decoration: none; }
    nav.main ul li:last-child p:hover, nav.main ul li:last-child a:hover {
      background: none !important;
      color: #141414 !important; }

footer {
  bottom: 4%; }
  footer ul li:last-child img {
    width: 115px;
    vertical-align: sub;
    padding-bottom: 1px; }

/* text columns in general */
.post {
  width: 800px;
  max-width: 100%;
  margin: 0 auto; }

/* intro & about page */
.intro {
  height: 100vh; }
  body .intro {
    background: url("../imgs/splash.jpg") no-repeat center center fixed white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }

@media screen and (max-width: 850px) {
  .intro, .about {
    width: 90%;
    margin: 8% 2%; } }
.intro article, .about article {
  margin: 4% 0 8% 0; }

/* stories  */
@media screen and (max-width: 850px) {
  .story {
    margin: 2% 0; }
    .story header {
      padding-top: 1%; }
      .story header a img {
        width: 250px;
        padding: 22px; } }
.story .storywrap {
  padding-top: 2%; }
.story .post {
  margin-top: 1%;
  position: relative; }
  .story .post .nav a {
    padding: 0 22px; }
  .story .post .photo img {
    text-align: center; }
  @media screen and (min-width: 1000px) {
    .story .post .note {
      opacity: 0.2;
      -webkit-transition: 0.5s ease all;
      -moz-transition: 0.5s ease all;
      -ms-transition: 0.5s ease all;
      -o-transition: 0.5s ease all;
      transition: 0.5s ease all;
      position: absolute;
      top: 4%;
      left: 2%; }
      .story .post .note:hover {
        opacity: 1; }
    .story .post .right {
      right: -20%;
      left: auto; }
    .story .post .middle {
      top: 24%; }
    .story .post .push {
      left: -16%; } }

/* typography */
body {
  font-size: 16px;
  font-family: "Volkorn", "times new roman", serif; }
  @media screen and (max-width: 850px) {
    body {
      font-size: 14px; } }

h1, h2 {
  font-size: 1em; }

p {
  font-size: 2em;
  line-height: 1.5em;
  text-align: left; }

footer, nav.main {
  font-size: 1em; }
  .story footer, .story nav.main {
    font-size: 80%; }

.up, .down {
  font-size: 2em; }
  .up a:hover, .down a:hover {
    background: none;
    color: #0600ff; }

.highlight {
  background: #fffc00; }
  .highlight p, .highlight a {
    background: #fffc00;
    text-decoration: none; }
    .highlight p:hover, .highlight a:hover {
      background: none !important;
      color: #141414 !important; }

.photogrid {
  display: none; }

.story .post {
  display: none; }

.fp-controlArrow.fp-prev, .fp-controlArrow.fp-next {
  width: 150px !important;
  height: 50px;
  border: none;
  margin: 0;
  top: 45%;
  padding: 30%; }

.fp-controlArrow.fp-prev {
  background: url("../imgs/arrow1-left.png") no-repeat;
  padding-left: 0; }

.fp-controlArrow.fp-next {
  background: url("../imgs/arrow1-left.png") no-repeat;
  padding-right: 0;
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH"; }

.fp-slidesNav {
  position: fixed !important;
  z-index: 4;
  left: 0 !important;
  opacity: 1;
  width: 100%;
  margin-left: 0 !important;
  bottom: 6% !important; }
  .fp-slidesNav ul {
    width: 60px;
    margin: 0 auto !important;
    text-align: center !important; }
    .fp-slidesNav ul li {
      width: 30% !important;
      margin: 0 !important; }
      .fp-slidesNav ul li a span {
        border-radius: 0 !important;
        width: 6px !important;
        height: 7px !important;
        border: 1px solid #949494 !important; }

#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span {
  background: #949494 !important; }
